[Desktop Entry]
Name=Skald
GenericName=AI Meeting Notes
Comment=The AI notepad for private meetings
Exec=skald %U
Icon=com.skald.Skald
Terminal=false
Type=Application
Categories=Office;AudioVideo;Recorder;
Keywords=notes;meeting;transcription;ai;audio;recording;
StartupNotify=true
StartupWMClass=skald
MimeType=x-scheme-handler/skald;
